.App {
  text-align: center;
  background-color: gray;
  height: 100vh;
}

/* .d{
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  margin: auto;
 
} */